.album-container {
  margin-bottom: 20px;

  .album-list {
    .album-entry {
      border: 1px solid $light-gray;
      border-radius: 4px;
      cursor: move;
      display: flex;
      justify-content: space-between;
      height: 50px;
      overflow: visible;
      pointer-events: auto;
      transform-origin: 50% 50% 0px;
      line-height: 50px;
      padding: 0 22px;
      font-size: 16px;
      font-weight: 400;
      background-color: rgb(255, 255, 255);
      position: relative;
      width: 1000px;

      .album-summary-item {
        width: 300px;

        &.name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex: 3;
        }

        &.count {
          flex: 2;
        }

        span {
          font-size: 18px;
          padding-left: 7px;
        }

        &.size {
          flex: 1;
          min-width: 175px;
        }
      }
    }
  }
}
