@import './item_tile';

.image-section {
  margin-top: 35px;

  h2 {
    max-width: 1000px;
    margin: 15px auto;
  }

  .file-upload-area {
    margin: 20px auto;
    max-width: 1025px;
    min-width: 500px;
    padding-bottom: 30px;

    h2 {
      display: inline-block;
      font-size: 18px;
      margin: 5px 0 10px 0;
      padding-bottom: 4px;

    }

    .select-elem {
      display: inline-block;
      font-size: 14px;
      text-align: center;
    }


    .large-field {
      margin-left: 10px;
      margin-bottom: 12px;

      label {
        width: 130px;
      }
    }

    .upload-header {
      display: flex;
      padding: 5px;
      flex-direction: column;

      .album-name {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        input {
          outline: 0;
        }

        .delete-album {
          button {
            border: 0;
            background-color: transparent;
            color: $button-bg-red;
            cursor: pointer;
            font-size: 18px;
            outline: 0;
            vertical-align: middle;

            .icon {
              top: 3px;
            }
          }
        }
      }

      .action-preview {
        display: flex;
        justify-content: space-between;

        .action {
          display: flex;
        }

        .upload-action {
          height: 36px;
          text-align: center;
          margin-right: 10px;

          button {
            border-radius: 6px;
            cursor: pointer;
            font-size: 14px;
            height: 100%;
            outline: 0;
            width: 150px;

            span {
              font-family: 'Glyphicons Halflings';
              padding-right: 5px;
            }

            &.queue {
              background-color: $button-bg-lightgreen;
              border: 1px solid $button-bg-green;
              color: $white;
            }

            &.upload {
              background-color: $button-bg-cyan;
              border: 1px solid $button-bg-cyan;
              color: $white;

              &:disabled {
                background-color: $button-bg-lightcyan;
                cursor: default;
                color: $button-disabled;
                border-color: $button-bg-lightcyan;
              }
            }
          }
        }
      }

      .preview-mode {
        align-items: center;
        padding: 1px;
        display: flex;

        button {
          background: transparent;
          border: 1px solid #999;
          border-radius: 4px;
          cursor: pointer;
          padding: 2px 2px;
          outline: 0;
          font-size: 18px;

          &.list {
            color: $button-bg-blue;
            border-right: 0;

            &.selected {
              color: $button-bg-lighterblue;
            }
          }

          &.thumbnail {
            color: $button-bg-red;
            margin-bottom: 0;

            &.selected {
              color: $button-bg-lighterred;
            }
          }

          span {
            height: 22px;
            width: 22px;
            float: left;
          }
       }
      }
    }

    .upload-box {
      border: 2px dashed $dark-gray;
      border-radius: 5px;
      height: 300px;
      margin: 0 auto;
      width: auto;

      &.active {
        border: 2px solid green;
      }

      &.reject {
        border: 2px solid red;
      }

      .upload-content {
        height: 100%;
        overflow: auto;
        position: relative;

        .placeholder {
          position: absolute;
          text-align: center;
          top: 50%;
          width: 100%;
        }

        .image-view {
          height: 100%;

          .list-header {
            align-items: center;
            border-bottom: 1px dotted $lighter-gray;
            display: flex;
            height: 30px;
            padding: 2px 10px;

            .name {
              flex-grow: 15;
            }

            .size {
              flex-grow: 2;
              text-align: right;
            }
            .action {
              flex-grow: 1;
              text-align: right;
            }
          }
        }

        .image-list {
          display: flex;
          flex-wrap: wrap;
          padding: 5px;

          &.thumbnail {
            flex-direction: row;
          }

          &.list {
            flex-direction: column;
          }

          .image-list-item {

            .thumbnail-view {
              background-color: $lightest-gray;
              display: inline-block;
              font-size: 13px;
              height: 127px;
              margin: 5px 6px;
              position: relative;
              text-align: center;
              width: 115px;

              .image-name {
                padding: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .image-action {
                background-color: $close-icon-background;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                font-size: 12px;
                height: 16px;
                position: absolute;
                right: -5px;
                text-align: center;
                top: -5px;
                width: 15px;
              }
            }

            .list-view {
              display: flex;
              padding: 2px 10px;

              .image-name {
                flex-grow: 15;
              }

              .image-size {
                flex-grow: 2;
                text-align: right;
              }
              .image-action {
                flex-grow: 1;
                text-align: right;
              }

            }
          }
        }
      }
    }

    .upload-footer {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10px auto;
      width: auto;


      .upload-action {
        height: 36px;
        text-align: center;
        margin-right: 10px;

        button {
          border-radius: 6px;
          cursor: pointer;
          font-size: 14px;
          height: 100%;
          outline: 0;
          width: 150px;

          span {
            font-family: 'Glyphicons Halflings';
            padding-right: 5px;
          }

          &.cancel {
            background-color: $button-bg-yellow;
            border: 1px solid $button-bg-yellow;
            color: $white;

            &:disabled {
              background-color: $button-bg-lightyellow;
              cursor: default;
              color: $button-disabled;
              border-color: $button-bg-lightyellow;
            }
          }
        }
      }

      .upload-progress {
        width: 150px;

        .progress {
          margin-bottom: 0;

          span {
            text-align: center;
          }
        }
      }
    }
  }
}
