@import './item_tile';

.image-section {
  margin-top: 35px;

  h2 {
    max-width: 1000px;
    margin: 15px auto;
  }

  .file-upload-area {
    margin: 40px auto;
    max-width: 1000px;
    min-width: 500px;

    h2 {
      display: inline-block;
      font-size: 18px;
      margin: 5px 0 10px 0;
      padding-bottom: 4px;

    }

    .upload-header {
      align-items: center;
      display: flex;
      justify-content: space-between;


      .delete-album input{
        border: 0;
        background: none;
        color: $button-orig-color;
        cursor: pointer;
        font-size: 14px;
      }
    }

    .select-elem {
      display: inline-block;
      font-size: 14px;
      text-align: center;
    }


    .album-name.large-field {
      margin-left: 10px;
      margin-bottom: 12px;

      label {
        width: 130px;
      }
    }

    .upload-box {
      border: 2px dashed $dark-gray;
      border-radius: 5px;
      cursor: pointer;
      height: 300px;
      margin: 0 auto;
      width: auto;

      &.active {
        border: 2px solid green;
      }

      &.reject {
        border: 2px solid red;
      }

      .upload-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        height: 100%;
        overflow: auto;

        .placeholder {
          width: 100%;
          text-align: center;
        }

        .image-list {
          height: 100%;

          .image-list-item {
            border: 1px solid $light-gray;
            display: inline-block;
            font-size: 14px;
            margin: 3px 6px;
            padding: 2px;
            position: relative;

            .image-name {
              padding: 3px 15px 3px 5px;
            }

            .image-action {
              position: absolute;
              top: 0;
              right: 2px;
            }
          }
        }
      }
    }

    .upload-footer {
      display: flex;
      justify-content: space-between;
      margin: 10px auto;
      width: auto;

      .action {
        display: flex;

        .upload-action {
          height: 36px;
          text-align: center;
          margin-right: 15px;

          input {
            background-color: $link-color-bg;
            border: 1px solid $button-orig-color;
            color: $button-orig-color;
            cursor: pointer;
            font-size: 14px;
            height: 100%;
            outline: 0;
            width: 180px;

            &:disabled {
              cursor: default;
              color: $light-gray;
              border-color: $light-gray;
            }
          }
        }
      }


      .status {
        display: flex;
        justify-content: space-between;
        line-height: 38px;
        width: 320px;
      }
    }
  }
}
