@import './item_tile';

.inner-section {
  label {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    width: 200px;
  }

  .text-input {
    border: solid 1px $button-orig-color;
    color: $light-black;
    font-size: 16px;
    outline: 0;
    padding-left: 9px;
    width: 300px;
    height: 36px;
  }

  .checkbox-input {
    height: 30px;
    width: 30px;
    vertical-align: middle;
  }

  h2 {
    display: inline-block;
    font-size: 18px;
    margin: 5px 0 10px 0;
    padding-bottom: 4px;

  }

  .select-elem {
    display: inline-block;
    font-size: 14px;
    text-align: center;
  }

  &.file-upload-preview {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;

    .file-preview {
      margin-left: 20px;

      button {
        background-color: $select-options;
        border: 1px solid $select-options;
        color: white;
        cursor: pointer;
        font-size: 16px;
        height: 40px;
        outline: 0;
        width: 100%;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }
  }
  .upload-box {
    border: 2px dashed #666;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 250px;
    border-radius: 5px;

    &.active {
      border: 2px solid green;
    }

    &.reject {
      border: 2px solid red;
    }

    .upload-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      text-align: center;

      div {
        padding: 10px;
      }
    }
  }
}
