.main-section-body {
  margin: 0 20px 0 40px;

  h3, h2 {
    font-size: 21px;
    margin-top: 0;

    &.product-title {
      display: inline-block;
      margin-right: 40px;
    }
  }

  .message {
    margin: -5px 0;
    min-height: 30px;

    &.error {
      color: red;
    }

    &.success {
      color: green;
    }
  }

  .fields {
    label {
      display: inline-block;
      width: 140px;
    }

    .field {
      margin: 6px 0;
      input {
        font-size: 14px;
        height: 36px;
        // outline: 0;
        width: 180px;

        &.error {
          border-color: #c64747;;
        }
      }
    }

    .large-field {
      @extend .field;

      input {
        width: 300px;
      }
    }

    .medium-field {
      @extend .field;

      input {
        width: 220px;
      }
    }

    .small-field {
      @extend .field;

      input {
        width: 100px;
      }
    }

    .submit-button {
      margin: 40px auto;
      text-align: center;

      input, a {
        background-color: $button-orig-color;
        color: $link-color-bg;
        cursor: pointer;
        font-size: 14px;
        height: 36px;
        outline: 0;
        width: 160px;

        &:hover {
          background-color: $button-hover-color;
        }
      }

      a{
        display: block;
        font-size: 18px;
        line-height: 36px;
      }
    }

  }
}
