extends tisko-layout/views/base

block contents
  section
    .main-contents#main-contents
      | !{reactHTML}

block scripts
  script.
    window.__PRELOADED_STATE__= !{JSON.stringify(preloadedState)};
  script(
    src='/assets/js/react-with-addons.js'
  )
  script(
    src='/assets/js/react-dom.js'
  )
