.half-screen, .full-screen {
  .image-nav {
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;

    .slide {
      background-color: $light-gray;
      background: rgba(204, 204, 204, 0.5);

      &.invisible {
        visibility: hidden;
      }

      .image-nav-item {
        display: block;
        outline: 0;

        span {
          color: $dark-gray;
          cursor: pointer;
          font-size: 48px;
        }
      }
    }
  }

  .fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
    outline: 0;

    button {
      font-size: 20px;
    }
  }
}

.half-screen{
  display: flex;

  .screen-left {
    position: relative;

    img {
      max-width: 1000px;
      max-height: 600px;
      vertical-align: middle;
    }

  }

  .screen-right {
    margin-top: 100px;
    text-align: center;
    width: 250px;

    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: $link-color-normal;
    }

  }
}

.full-screen{
  overflow: hidden;

  .full-screen-image {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;

    img {
      height: auto;
      width: auto;
      vertical-align: middle;
    }
  }

  .fullscreen button {
    font-size: 25px;
  }
}

.item-action {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;

  .number {
    font-size: 16px;
  }

  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    vertical-align: middle;


    .icon {
      color: $light-black;
      font-size: 1rem;
      top: 0;
    }
  }

  .like .selected .icon {
    color: $button-bg-likeblue;
  }

  .dislike .selected .icon {
    color: $button-bg-dislike;
  }

  .love .selected .icon {
    color: $button-bg-love;
  }
}


.item-action-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .reactors {
    min-height: 40px;

    li {
      padding: 5px 0;
    }
  }

  input {
    border: none;
    border-bottom: 1px dotted $lighter-gray;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
    padding: 10px 0;
    width: 100%;
  }

  .like, .dislike, .love {
    border-bottom: 1px solid $gray;
    margin: 10px 0;
    width: 100%;
  }

  .like .selected {
    color: green;
  }

  .dislike .selected {
    color: red;
  }

  .love .selected {
    color: blue;
  }
}
