.right-panel {
  min-width: 800px;
  padding: 0 20px 0 40px;

  .thumbnail {
    display: flex;
    flex-wrap: wrap;

    figure.multi-row {
      display: inline-block;
      margin: 15px 20px;

      .item-tile {
        align-items: center;
        width: 250px;

        h2 {
          font-size: 18px;
          font-weight: 400;
          margin-top: 5px;
          margin-bottom: 10px;
        }

        p {
          margin-top: 5px;
        }

        .item-image {
          background-color: $dark-gray;
          height: 170px;
          text-align: center;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img{
              height: auto;
              max-width: 250px;
              max-height: 170px;
              width: auto;
              vertical-align: middle;
            }
          }
        }
      }

      figcaption {
        background-color: $lightest-gray;
        height: 100px;

        .item-label {
          padding: 6px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .item-action {
          margin-top: 10px;
          text-align: center;

          .button-style {
            display: inline-block;

            a {
              background-color: $link-color-normal;
              color: $link-color-bg;
              display: block;
              font-size: 16px;
              line-height: 35px;
              text-align: center;
              width: 125px;

              &:hover {
                background-color: $link-color-hover;
              }
            }
          }
        }
      }
    }
  }
}

.half-screen{
  display: flex;

  .screen-left {
    border-right: 1px dotted #aaa;
    position: relative;

    img {
      max-width: 1000px;
      max-height: 600px;
      vertical-align: middle;
    }

    .image-nav {
      display: flex;
      justify-content: space-between;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;

      .slide {
        &.invisible {
          visibility: hidden;
        }

        input {
          cursor: pointer;
        }
      }
    }
  }

  .screen-right {
    margin-top: 100px;
    text-align: center;
    width: 250px;

    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: $link-color-normal;
    }

  }
}

.item-action {
  display: flex;
  justify-content: space-around;

  input {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    outline: 0;
  }

  .like .selected {
    color: green;
  }

  .dislike .selected {
    color: red;
  }

  .love .selected {
    color: blue;
  }
}


.item-action-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .reactors {
    min-height: 40px;

    li {
      padding: 5px 0;
    }
  }

  input {
    border: none;
    border-bottom: 1px dotted $lighter-gray;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
    padding: 10px 0;
    width: 100%;
  }

  .like, .dislike, .love {
    border-bottom: 1px solid $gray;
    margin: 10px 0;
    width: 100%;
  }

  .like .selected {
    color: green;
  }

  .dislike .selected {
    color: red;
  }

  .love .selected {
    color: blue;
  }
}
