.right-panel {
  .thumbnail {
    display: flex;


    figure.multi-row {
      display: inline-block;
      margin: 15px 30px;

      .item-tile {
        align-items: center;
        width: 250px;

        h2 {
          font-size: 18px;
          font-weight: 400;
          margin-top: 5px;
          margin-bottom: 10px;
        }

        p {
          margin-top: 5px;
        }

        .item-image {
          background-color: $dark-gray;
          text-align: center;

          img{
            height: auto;
            max-width: 250px;
            max-height: 200px;
            width: auto;
          }
        }
      }

      figcaption {
        background-color: $lightest-gray;
        height: 100px;

        .item-label {
          padding: 6px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .item-action {
          margin-top: 10px;
          text-align: center;

          .button-style {
            display: inline-block;

            a {
              background-color: $link-color-normal;
              color: $link-color-bg;
              display: block;
              font-size: 16px;
              line-height: 35px;
              text-align: center;
              width: 125px;

              &:hover {
                background-color: $link-color-hover;
              }
            }
          }
        }
      }
    }
  }
}

.half-screen{
  display: flex;

  .screen-left {
    border-right: 1px dotted #aaa;
    position: relative;

    .image-nav {
      display: flex;
      justify-content: space-between;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  .screen-right {
    margin-top: 100px;
    text-align: center;
    width: 250px;
  }
}

.item-action {
  color: $lighter-gray;
  display: flex;
  justify-content: space-around;

  input {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    outline: 0;
  }

  .like .selected {
    color: green;
  }

  .dislike .selected {
    color: red;
  }

  .love .selected {
    color: blue;
  }
}
