@import "./filters";
@import "./thumbnail";
@import "./full_screen";

.right-panel {
  min-width: 800px;
  padding-left: 10px;

  .extra-margin {
    margin-left: 20px;
  }

  .preview-mode {
    align-items: center;
    padding: 1px;
    display: flex;

    button {
      background: transparent;
      border: 1px solid #999;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      outline: 0;
      padding: 1px;

      &.list {
        border-bottom-right-radius: 0;
        border-right: 0;
        border-top-right-radius: 0;
        color: $button-bg-lighterblue;

        &.selected {
          color: $button-bg-blue;
        }
      }

      &.thumbnail {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: $button-bg-lighterred;
        margin-bottom: 0;

        &.selected {
          color: $button-bg-darkred;
        }
      }

      span {
        float: left;
        font-size: 1.5rem;
        height: 30px;
        left: 1px;
        top: 2px;
        width: 38px;
      }
    }
  }

  .filtered-list {
    .filtered-item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

      &:nth-child(even) {
        background-color: #e8f2e9;
      }

      img {
        width: 110px;
        height: 90px;
      }

      .file-name {
        flex-grow: 2;
        max-width: 400px;
      }

      button {
        font-size: 1.4rem;
      }
    }
  },

  .images-by-reaction {
    // why this overrides with the other elements not under 'images-by-reaction'
    .filters button {
      width: 120px;
    }

    .image-list {
      figure.multi-row {
        margin: 5px;

        .item-tile {
          width: 165px;

          .item-image {
            height: 135px;
          }
        }

        figcaption {
          height: 30px;

          .item-label {
            padding: 6px;
          }
        }
      }
    }
  }
}
