@import './images';
@import './select';

.customer-order .main-contents {
  max-width: 1500px;
}

.top-panel {
  h1, .credit, .status {
    display: inline-block;
    margin: auto 10px;
  }
}

.main-panel {
  display: flex;
  margin-top: 30px;

  .left-panel {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 240px;

    ul {
      margin: 0 10px;

      .nav-left {
        margin: 5px 0;

        a {
          display: block;
          height: 42px;
          line-height: 36px;
          min-width: 200px;
          outline: none;
          padding: 2px 15px;

          &.active {
            background-color: #76c4ae;
            border: 1px solid #76c4ae;
            border-radius: 15px;
            color: $white;
          }

          &:hover {
            background-color: #9fc2ba;
            border: 1px solid #9fc2ba;
            border-radius: 15px;
            color: $white;
          }

          &:disabled {
            pointer-events: none;
            cursor: default;
          }
        }
      }
    }
  }

  .fields {
    border-bottom: 1px solid $lighter-gray;
    margin-bottom: 10px;
    padding-bottom: 22px;
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;

    .submit-button {
      text-align: center;

      input {
        background-color: #e06981;
        border: 0;
        color: $link-color-bg;
        cursor: pointer;
        font-size: 14px;
        height: 36px;
        outline: 0;
        width: 100px;

        &:hover {
          background-color: #e23636;
        }
      }
    }
  }

  .fields {
    display: flex;
    justify-content: space-between;

    .field {
      input {
        font-size: 14px;
        height: 36px;
        padding-left: 5px;
        // outline: 0;
        width: 300px;

        &.error {
          border-color: #c64747;;
        }
      }
    }

    .submit-button {
      text-align: center;

      button, input, a {
        background-color: $select-options;
        border: 0;
        color: $link-color-bg;
        cursor: pointer;
        font-size: 14px;
        height: 36px;
        outline: 0;
        width: 130px;

        &:hover {
          background-color: $button-hover-color;
        }
      }

      a{
        display: block;
        font-size: 18px;
        line-height: 36px;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    height: 40px;

    .email {
      width: 300px;
    }
  }
}
